name: deploy to VPS
on: [push]
jobs:

  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /home/${{ secrets.USERNAME }}/wechaty-bot
          rm -f log.txt
          git pull -f
          nvm use 16
          npm install
          export PADLOCAL_TOKEN=${{ secrets.PADLOCAL_TOKEN }}
          kill -2 `ps -ef | grep main.ts | grep -v grep | awk '{print $2}'`
          nohup npm run demo > log.txt 2>&1 &